<div class="Box Box--spacious">
  <div class="Box-header">
    <h3 class="Box-title">Schedules</h3>
  </div>
  <% if @schedules.ok? %>
    <ul>
      <%= render @schedules.value! %>
    </ul>
  <% else %>
    <div class="Box-body">
      <div class="blankslate">
        <h3>Could not retrieve schedules.</h3>
        <p>There may be a problem on PagerDuty's side.</p>
      </div>
    </div>
  <% end %>
</div>
